<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<title>デモンストレーション</title>
		<!-- <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" /> -->
    <meta name="viewport" content="width=device-width" />
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@4.1.0/dist/tf.min.js"></script>
    <script src="static/js/tataki.js"></script>
  </head>
	<body>
  <div id="tataki"></div>
	<script type="module">
  import * as CANNON from 'https://unpkg.com/cannon-es@0.20.0/dist/cannon-es.js';
	import * as THREE from 'https://unpkg.com/three@0.126.1/build/three.module.js';
	import { OrbitControls } from 'https://unpkg.com/three@0.126.1/examples/jsm/controls/OrbitControls.js';
	import { GLTFLoader } from 'https://unpkg.com/three@0.126.1/examples/jsm/loaders/GLTFLoader.js';

  // tataki
  let tatakiRightFunc;
  let tatakiLeftFunc;
  let tatakiMisFunc;

	// three.js variables
	let camera, scene, renderer;
	let model;

	// cannon.js variables
	let world;
	let body;

  let planeSize = 30;

	initThree();
	initCannon();
	animate();

  function initThree() {
    // Camera
    camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 1, 1000)
    camera.position.z = planeSize * 1.5;
    camera.position.y = planeSize * 0.5;
    camera.position.x = 5;

    // Scene
    scene = new THREE.Scene();
    camera.lookAt(scene.position);

    // 光
    const light = new THREE.AmbientLight(0xFFFFFF, 1.0);
    scene.add(light);
    // const light = new THREE.DirectionalLight(0xFFFFFF, 1.0);
    // scene.add(light);
    scene.background = new THREE.Color( 0xeeeeee );

    // Renderer
    renderer = new THREE.WebGLRenderer({ antialias: true });
    renderer.setSize(window.innerWidth, window.innerHeight);

    document.body.appendChild(renderer.domElement);

    window.addEventListener('resize', onWindowResize);

    //modelファイルの読み込み
    const loader = new GLTFLoader();
    loader.load('/model/dice.gltf', function(gltf) {
      model = gltf.scene;
      model.traverse((object) => {
        if(object.isMesh) {
          object.scale.set(10, 10, 10);
          object.material.trasparent = true;
          object.material.opacity = 0.8;
          object.material.depthTest = true;
      }})
      // model.position.y = 5;
      scene.add(model);
    }, undefined, function(e) {
      console.error(e);
    });

    // 地面
    const planeGeometry = new THREE.PlaneGeometry(planeSize, planeSize);
    const planeMaterial = new THREE.MeshBasicMaterial({color: 0xcccccc});
    const plane = new THREE.Mesh(planeGeometry, planeMaterial);
    plane.rotation.x = -0.5 * Math.PI;
    scene.add(plane);

    // 天井
    const planeCeilingGeometry = new THREE.PlaneGeometry(planeSize, planeSize);
    const planeCeilingMaterial = new THREE.MeshBasicMaterial({color: 0xcccccc});
    const planeCeiling = new THREE.Mesh(planeCeilingGeometry, planeCeilingMaterial);
    planeCeiling.rotation.x = 0.5 * Math.PI;
    planeCeiling.position.y = planeSize;
    scene.add(planeCeiling);

    // 右の壁
    const planeRightGeometry = new THREE.PlaneGeometry(planeSize, planeSize);
    const planeRightMaterial = new THREE.MeshBasicMaterial({color: 0xbbbbbb});
    const planeRight = new THREE.Mesh(planeRightGeometry, planeRightMaterial);
    planeRight.rotation.y = -0.5 * Math.PI;
    planeRight.position.x = planeSize/2;
    planeRight.position.y = planeSize/2;
    scene.add(planeRight);

    // 左の壁
    const planeLeftGeometry = new THREE.PlaneGeometry(planeSize, planeSize);
    const planeLeftMaterial = new THREE.MeshBasicMaterial({color: 0xbbbbbb});
    const planeLeft = new THREE.Mesh(planeLeftGeometry, planeLeftMaterial);
    planeLeft.rotation.y = 0.5 * Math.PI;
    planeLeft.position.x = -planeSize/2;
    planeLeft.position.y =  planeSize/2;
    scene.add(planeLeft);

    // 奥の壁
    const planeBackGeometry = new THREE.PlaneGeometry(planeSize, planeSize);
    const planeBackMaterial = new THREE.MeshBasicMaterial({color: 0xdddddd});
    const planeBack = new THREE.Mesh(planeBackGeometry, planeBackMaterial);
    planeBack.position.y =   planeSize/2;
    planeBack.position.z =  -planeSize/2;
    scene.add(planeBack);

    // 手前の壁
    const planeFrontGeometry = new THREE.PlaneGeometry(planeSize, planeSize);
    const planeFrontMaterial = new THREE.MeshBasicMaterial({color: 0xdddddd});
    const planeFront = new THREE.Mesh(planeFrontGeometry, planeFrontMaterial);
    planeFront.rotation.y = Math.PI;
    planeFront.position.y = planeSize/2;
    planeFront.position.z = planeSize/2;
    scene.add(planeFront);

    // Helper
    const axes = new THREE.AxisHelper(30);
    scene.add(axes);

    var size = 10;
    var step = 1;
    var gridHelper = new THREE.GridHelper(size, step);
    scene.add(gridHelper);

    const controls = new OrbitControls(camera, renderer.domElement);
    // controls.enableDamping = true;
    // controls.dampingFactor = 0.2;
  }

  function onWindowResize() {
    camera.aspect = window.innerWidth / window.innerHeight;
    camera.updateProjectionMatrix();
    renderer.setSize(window.innerWidth, window.innerHeight);
  }

  function initCannon() {
    world = new CANNON.World({
                              gravity: new CANNON.Vec3(0, -9.82, 0), // m/s²
                              });

    // Box
    const shape = new CANNON.Box(new CANNON.Vec3(5, 5, 5));
    body = new CANNON.Body({
                            mass: 1,
                            });
    body.addShape(shape);
    body.angularVelocity.set(0, 0, 0);
    body.velocity.set(0, 10, 0);
    body.position.set(0, 5, 0);
    body.angularDamping = 0.5;
    world.addBody(body);

    // 右を叩いた時
    tatakiRightFunc = () => {
      body.angularVelocity.set(0, 0, 20);
      body.velocity.set(-10, 1, 0);
    }
    // 左を叩いた時
    tatakiLeftFunc = () => {
      body.angularVelocity.set(0, 0, -20);
      body.velocity.set(10, 1, 0);
    }
    // ミス
    tatakiMisFunc = () => {
      body.position.set(0, 10, 0);
    }

    // 右側を叩かれた時の処理
    window.addEventListener('tatakiTopRight', tatakiRightFunc);
    window.addEventListener('tatakiBottomRight', tatakiRightFunc);
    window.addEventListener('tatakiHorizontallyRight', tatakiRightFunc);

    // 左側を叩かれた時の処理
    window.addEventListener('tatakiTopLeft', tatakiLeftFunc);
    window.addEventListener('tatakiBottomLeft', tatakiLeftFunc);
    window.addEventListener('tatakiHorizontallyLeft', tatakiLeftFunc);

    // // ミス
    // window.addEventListener('tatakiMisDetectioin', tatakiMisFunc);
    // window.addEventListener('tatakiHorizontallyMisDetectioin', tatakiMisFunc);

    // 地面
    const groundBody = new CANNON.Body({
                                        type: CANNON.Body.STATIC,
                                        shape: new CANNON.Plane(),
                                        });
    groundBody.quaternion.setFromEuler(-Math.PI/2, 0, 0); // make it face up
    world.addBody(groundBody);

    // 天井
    const groundCeilingBody = new CANNON.Body({
                                        type: CANNON.Body.STATIC,
                                        shape: new CANNON.Plane(),
                                        });
    groundCeilingBody.quaternion.setFromEuler(Math.PI/2, 0, 0);
    groundCeilingBody.position.set(0, planeSize, 0);
    world.addBody(groundCeilingBody);

    // 右の壁
    const groundRightBody = new CANNON.Body({
                                        type: CANNON.Body.STATIC,
                                        shape: new CANNON.Plane(),
                                        });
    groundRightBody.quaternion.setFromEuler(0, -Math.PI/2, 0);
    groundRightBody.position.set(planeSize/2, planeSize/2, 0);
    world.addBody(groundRightBody);

    // 左の壁
    const groundLeftBody = new CANNON.Body({
                                        type: CANNON.Body.STATIC,
                                        shape: new CANNON.Plane(),
                                        });
    groundLeftBody.quaternion.setFromEuler(0, Math.PI/2, 0);
    groundLeftBody.position.set(-planeSize/2, planeSize/2, 0);
    world.addBody(groundLeftBody);

    // 奥の壁
    const groundBackBody = new CANNON.Body({
                                        type: CANNON.Body.STATIC,
                                        shape: new CANNON.Plane(),
                                        });
    groundBackBody.quaternion.setFromEuler(0, 0, 0);
    groundBackBody.position.set(0, planeSize/2, -planeSize/2);
    world.addBody(groundBackBody);

    // 手前の壁
    const groundFrontBody = new CANNON.Body({
                                        type: CANNON.Body.STATIC,
                                        shape: new CANNON.Plane(),
                                        });
    groundFrontBody.quaternion.setFromEuler(0, Math.PI, 0);
    groundFrontBody.position.set(0, planeSize/2, planeSize/2);
    world.addBody(groundFrontBody);
  }

  function animate() {
    requestAnimationFrame(animate);

    // Step the physics world
    world.fixedStep();

    // Copy coordinates from cannon.js to three.js
    if(model){
      model.position.copy(body.position);
      model.quaternion.copy(body.quaternion);
    }

    // Render three.js
    renderer.render(scene, camera);
  }
  </script>
  </body>
</html>